# source antidote
export VISUAL="vi"
export EDITOR="vim"

export PATH=$PATH:${HOME}/.local/bin:${HOME}/bin:${HOME}/go/bin:${HOME}/.luarocks/bin
{{ if eq .chezmoi.os "darwin" }}
eval "$(/usr/local/bin/brew shellenv)"
source $(brew --prefix)/opt/antidote/share/antidote/antidote.zsh
{{ else if eq .chezmoi.os "linux"}}
{{   if  eq .chezmoi.osRelease.id "arch" }}
source /usr/share/zsh-antidote/antidote.zsh
{{   else }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
source /home/linuxbrew/.linuxbrew/opt/antidote/share/antidote/antidote.zsh
{{   end }}
{{ end }}

# History
HISTSIZE=5000
SAVEHIST=$HISTSIZE
HISTDUP=erase

setopt appendhistory
setopt sharehistory
setopt hist_ignore_all_dups
setopt hist_save_no_dups
setopt hist_find_no_dups

autoload -Uz compinit
compinit
antidote load

zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}'
zstyle ':completion:*' list-colors "${(s.:.)LS_COLORS}"
zstyle ':completion:*' menu no
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'ls --color $realpath'
zstyle ':fzf-tab:complete:__zoxide_z:*' fzf-preview 'ls --color $realpath'

source ~/.aliases.sh
source ~/.envs.sh

eval "$(fzf --zsh)"
eval "$(zoxide init zsh)"
eval "$(starship init zsh)"
