alias ls="eza --git"
alias nv="nvim"
alias cdgit='cd "$(basename "$_" .git)"'
{{ if eq .chezmoi.hostname "tde-nextoo" }}
alias brew="sudo -Hiu linuxbrew /home/linuxbrew/.linuxbrew/bin/brew"
{{ end }}
