{{- if ne .chezmoi.os "windows" }}
#!/bin/sh

{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch")) -}}
{{   range .packages.common -}}
yay -S --noconfirm --needed {{ . | quote }}
{{   end -}}
{{   range .packages.yay -}}
yay -S --noconfirm --needed {{ . | quote }}
{{   end -}}
{{ else -}}
{{   range .packages.common -}}
brew install -q {{ . | quote }}
{{   end -}}
{{   range .packages.brew -}}
brew install -q {{ . | quote }}
{{   end -}}
{{ end -}}
{{ end -}}