preload = ~/Images/Wallpapers/controllers.jpg
preload = ~/Images/Wallpapers/darkside-wallpaper.png
preload = ~/Images/Wallpapers/ring.jpg

wallpaper = DP-1, ~/Images/Wallpapers/controllers.jpg
wallpaper = DP-2, ~/Images/Wallpapers/darkside-wallpaper.png
wallpaper = DP-3, ~/Images/Wallpapers/ring.jpg

splash = false
