[general]
import = [
  "~/.config/alacritty/catppuccin-mocha.toml"
]

[cursor]
style = "Block"
unfocused_hollow = true

[font]
{{- if eq .chezmoi.os "darwin" -}}
size = 12.0
{{ else }}
size = 13.0
{{ end -}}

[font.normal]{{ if eq .chezmoi.os "windows" }}
family = "JetBrainsMono NFM"
{{ else }}
family = "JetBrainsMono NF"
{{ end }}
style = "Regular"

[mouse]
hide_when_typing = true

[scrolling]
history = 100000
multiplier = 3

[window]
decorations = "none"
opacity = 0.9
startup_mode = "Maximized"

{{ if eq .chezmoi.os "linux" -}}
{{  if ne .chezmoi.osRelease.id "cachyos" -}}
[terminal]
shell.program = "zsh"
{{  end -}}{{ end -}}
