import = [
  "~/.config/alacritty/catppuccin-mocha.toml"
]

[cursor]
style = "Block"
unfocused_hollow = true

[font]
size = 10.0

[font.normal]
family = "JetBrainsMono NF"
style = "Regular"

[mouse]
hide_when_typing = true

[scrolling]
history = 100000
multiplier = 3

[window]
decorations = "none"
#gtk_theme_variant = "dark"
# opacity = 0.9
startup_mode = "Maximized"

[shell]{{ if eq .chezmoi.os "windows" }}
program = "powershell"
{{ else if eq .chezmoi.os "darwin" }}
program = "/usr/local/bin/tmux"
{{ else }}
program = "tmux"
{{ end }}
