[general]
import = [
  "~/.config/alacritty/catppuccin-mocha.toml"
]

[cursor]
style = "Block"
unfocused_hollow = true

[font]{{ if eq .chezmoi.os "darwin" }}
size = 12.0
{{ else }}
size = 10.0
{{ end }}

[font.normal]{{ if eq .chezmoi.os "windows" }}
family = "JetBrainsMono NFM"
{{ else }}
family = "JetBrainsMono NF"
{{ end }}
style = "Regular"

[mouse]
hide_when_typing = true

[scrolling]
history = 100000
multiplier = 3

[window]
decorations = "none"
#gtk_theme_variant = "dark"
opacity = 0.9
startup_mode = "Maximized"

[terminal]
{{ if eq .chezmoi.os "windows" }}
shell.program = "wsl.exe"
{{ else }}
shell.program = "zsh"
{{ end }}
