theme = Catppuccin Mocha
background-opacity = 0.8
maximize = true
command = "/bin/zsh"
{{ if eq .chezmoi.os "darwin" -}}
window-decoration = true
macos-option-as-alt = left
{{ else -}}
window-decoration = false
{{ end -}}
font-family = "JetBrainsMonoNL Nerd Font Mono"
font-size = 13.0
